<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="FMS"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/Theme.FMS">
        <activity
            android:name=".Student_update"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".answer"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".update_ans"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".SecQues"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".Feedetails"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".Admin"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".Students"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".SLogin"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".ALogin"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FMS.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>